# Morgan Stanley Code to Give 2023

## Team 18 - TinyMiraclesOnline

### Calculating Global MPI for Tiny Miracles' Communities

**What is Global Multidimensional Poverty Index?**

The Global Multidimensional Poverty Index (Global MPI) is a poverty measure that reflects the multiple deprivations that poor people face in the areas of education, health, and living standards. It was developed in 2010 by the **Oxford Poverty & Human Development Initiative (OPHI)** and the **United Nations Development Programme (UNDP)**.

![](https://hdr.undp.org/sites/default/files/styles/original/public/images/2022-03/mpiRoadMap.png?itok=85ASETTg)

_Image Source: [https://hdr.undp.org/](https://hdr.undp.org/content/2021-global-multidimensional-poverty-index-mpi)_

Global MPI is a contribution towards measuring progress towards target **1.2 of the Sustainable Development Goals (SDGs) which aims at reducing â€œat least by half the proportion of men, women and children of all ages living in poverty in all its dimensions."**

Note: The MPI ranges from 0 to 1, and higher values imply higher poverty.

_For more details, refer [https://ophi.org.uk/multidimensional-poverty-index/](https://ophi.org.uk/multidimensional-poverty-index/)_

![image.png]()

### How Global MPI can assist Tiny Miracles?

1. Comprehensive Measurement
2. Targeted Events & Activities
3. Progress Tracking
4. Evidence-Based Advocacy
5. Collaborative Partnerships

By leveraging the Multidimensional Poverty Index, Tiny Miracles can gain deeper insights into poverty dynamics, implement targeted events, track progress effectively, advocate for change, and collaborate with like-minded organizations. This approach enhances the NGO's ability to make a meaningful and sustainable impact on poverty eradication.

# Global MPI Calculaltion Model

Here we have implemented a mathematical model to calculate MPI for each family in a community. Then the MPI scores of individual families are used to calculate Global MPI at community level.

`Global MPI = H X A`

where,

* `H` = Head Count Ratio, and
* `A` = Instensity of Poverty

In [ ]:
# Adding Packages
!pip install pandas
!pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.3.0)

In [ ]:
from pymongo import MongoClient
import pandas as pd
from datetime import datetime

In [ ]:
# Here we are connecting our mongodb

dbURI ="mongodb+srv://np68175:np68175@cluster0.uzwqfqr.mongodb.net/?retryWrites=true&w=majority"
client = MongoClient(dbURI)

In [ ]:
db = client['test']
communities_collection = db['programs']
families_collection = db['families']

In [ ]:
communities = communities_collection.find()
families = families_collection.find()

In [ ]:
columns = [
    "community",
    "familyId",
    "drinkingWater",
    "electricity",
    "cookingFuel",
    "sanitation",
    "house",
    "adharcard",
    "education",
    "disease" ,
    "MPI_Score",
]

In [ ]:

# first we will store only required info in a dictionary format then create a dataframe from it
data_list = []


for document in families:

    row = {
        "community": document.get("community"),
        "familyId": document.get("familyId"),
        "drinkingWater": document.get("drinkingWater"),
        "electricity": document.get("electricity"),
        "cookingFuel": document.get("cookingFuel"),
        "sanitation": document.get("sanitation"),
        "house": document.get("house"),
        "adharcard": 1,
        "education": 1,
        "disease" : 1,
        "MPI_Score": document.get("MPIscore", 1),
    }

    data_list.append(row)

# Data Frame for the Families
df2 = pd.DataFrame(data_list, columns=columns)

In [ ]:
df2

,community,familyId,drinkingWater,electricity,cookingFuel,sanitation,house,adharcard,education,disease,MPI_Score
0,Pardeshi,8076794410,True,False,True,True,False,1,1,1,"[{'date': 2023-05-11 21:01:28.167000, 'score':..."
1,Aarey,8882439247,False,True,False,True,False,1,1,1,"[{'date': 2023-05-11 21:01:28.200000, 'score':..."
2,RL Colony,8376794410,True,False,True,False,False,1,1,1,"[{'date': 2023-05-11 21:01:28.233000, 'score':..."
3,Aarey,565887983,True,True,True,False,False,1,1,1,[]
4,Pardeshi,6588795663,True,False,True,False,False,1,1,1,[]

In [ ]:
member_collection = db["userdetails"]
members = member_collection.find()

In [ ]:
columns = [
    "community",
    "familyId",
    "Member_name",
    "adharCheck",
    "age",
    "education",
    "gender",
    "disease"
]

data_list = []

In [ ]:
for document in members:
    health_status = len(document.get("medicalHistory", [])) > 0

    age = document.get("age")

    education = False

    if age <= 18:
        education = document.get("education") != "Schooling"
    else:
        education = document.get("education") != "5th pass"

    row = {
        "community": document.get("community"),
        "familyId": document.get("familyId"),
        "Member_name": document.get("name"),
        "adharCheck": document.get("adharCheck"),
        "age": document.get("age"),
        "education": education,
        "gender": document.get("gender"),
        "disease": health_status
    }

    data_list.append(row)

# Data Frame for the members
df1 = pd.DataFrame(data_list, columns=columns)

In [ ]:
df1

,community,familyId,Member_name,adharCheck,age,education,gender,disease
0,Pardeshi,8076794410,Maneesh,True,20,True,Male,True
1,Pardeshi,8076794410,Neha,True,9,False,Female,False
2,Aarey,8882439247,Kritika,True,27,True,Female,True
3,Aarey,8882439247,Shorya,False,21,True,Male,True
4,RL Colony,8376794410,Divya,True,26,True,Male,False
5,RL Colony,8376794410,Dinesh,False,4,True,Male,False
6,Aarey,565887983,Deepika,False,6,False,Female,True
7,Aarey,565887983,Karan,True,21,True,Male,False
8,Pardeshi,6588795663,Ved,True,21,True,Female,False

In [ ]:
for index, family in df2.iterrows():
    family_id = family['familyId']

#     Indicators
    adharCard_indicator = 0 #everyone has adhar
    disease_indicator = 0  #no one has disease
    education_indicator = 0 # everone is educated upto a mark specified

    for member_index, member in df1.iterrows():
        if member['familyId'] == family_id:
            if member['adharCheck'] == False:
                adharCard_indicator = 1

            if member['education'] == False:
                education_indicator = 1

            if member['disease'] == True:
                disease_indicator = 1

    df2.at[index, 'adharcard'] = adharCard_indicator
    df2.at[index, 'education'] = education_indicator
    df2.at[index, 'disease'] = disease_indicator
    print(adharCard_indicator,education_indicator)

0 1
1 0
1 0
1 1
0 0

In [ ]:
df2

,community,familyId,drinkingWater,electricity,cookingFuel,sanitation,house,adharcard,education,disease,MPI_Score
0,Pardeshi,8076794410,True,False,True,True,False,0,1,1,"[{'date': 2023-05-11 21:01:28.167000, 'score':..."
1,Aarey,8882439247,False,True,False,True,False,1,0,1,"[{'date': 2023-05-11 21:01:28.200000, 'score':..."
2,RL Colony,8376794410,True,False,True,False,False,1,0,0,"[{'date': 2023-05-11 21:01:28.233000, 'score':..."
3,Aarey,565887983,True,True,True,False,False,1,1,1,[]
4,Pardeshi,6588795663,True,False,True,False,False,0,0,0,[]

In [ ]:
df2['drinkingWater'] = df2['drinkingWater'].replace({False: 1, True: 0})
df2['electricity'] = df2['electricity'].replace({False: 1, True: 0})
df2['cookingFuel'] = df2['cookingFuel'].replace({False: 1, True: 0})
df2['sanitation'] = df2['sanitation'].replace({False: 1, True: 0})
df2['house'] = df2['house'].replace({False: 1, True: 0})
df2

,community,familyId,drinkingWater,electricity,cookingFuel,sanitation,house,adharcard,education,disease,MPI_Score
0,Pardeshi,8076794410,0,1,0,0,1,0,1,1,"[{'date': 2023-05-11 21:01:28.167000, 'score':..."
1,Aarey,8882439247,1,0,1,0,1,1,0,1,"[{'date': 2023-05-11 21:01:28.200000, 'score':..."
2,RL Colony,8376794410,0,1,0,1,1,1,0,0,"[{'date': 2023-05-11 21:01:28.233000, 'score':..."
3,Aarey,565887983,0,0,0,1,1,1,1,1,[]
4,Pardeshi,6588795663,0,1,0,1,1,0,0,0,[]

In [ ]:
for index, row in df2.iterrows():
    mpi = (
        row['drinkingWater'] * (1 / 18) +
        row['electricity'] * (1 / 18) +
        row['cookingFuel'] * (1 / 18) +
        row['sanitation'] * (1 / 18) +
        row['house'] * (1 / 18) +
        row['adharcard'] * (1 / 18) +
        row['education'] * (1 / 3) +
        row['disease'] * (1 / 3)
    )
    df2.loc[index, 'MPI_Score'] = mpi

In [ ]:
df2

,community,familyId,drinkingWater,electricity,cookingFuel,sanitation,house,adharcard,education,disease,MPI_Score
0,Pardeshi,8076794410,0,1,0,0,1,0,1,1,0.777778
1,Aarey,8882439247,1,0,1,0,1,1,0,1,0.555556
2,RL Colony,8376794410,0,1,0,1,1,1,0,0,0.222222
3,Aarey,565887983,0,0,0,1,1,1,1,1,0.833333
4,Pardeshi,6588795663,0,1,0,1,1,0,0,0,0.166667

In [ ]:
# Updating the values in DF2 :
for index, row in df2.iterrows():
    family_id = row['familyId']
    current_date = datetime.now()
    mpi = row['MPI_Score']
    mpi_score_obj = {
        'date': current_date,
        'score': mpi
    }

    # print(mpi_score_obj)
    # Will do this once the database is restored to required state
    families_collection.update_one(
        {'familyId': family_id},
        {'$push': {'MPIscore': mpi_score_obj}}
    )
    # families_collection.update_one({'familyId': family_id}, {'$set': {'MPIscore': mpi}})
    # date + Mpi_Score

In [ ]:
df3 = df2[df2['MPI_Score'] > 0.3][['community', 'MPI_Score']].copy()
df3.columns = ['Community', 'MPI_Score']

In [ ]:
df2

,community,familyId,drinkingWater,electricity,cookingFuel,sanitation,house,adharcard,education,disease,MPI_Score
0,Pardeshi,8076794410,0,1,0,0,1,0,1,1,0.777778
1,Aarey,8882439247,1,0,1,0,1,1,0,1,0.555556
2,RL Colony,8376794410,0,1,0,1,1,1,0,0,0.222222
3,Aarey,565887983,0,0,0,1,1,1,1,1,0.833333
4,Pardeshi,6588795663,0,1,0,1,1,0,0,0,0.166667

## Families MPI Done

In [ ]:
unique_communities =  communities_collection.distinct('name')
unique_communities

['Aarey', 'Pardeshi', 'RL Colony']

In [ ]:
df3 = pd.DataFrame({'community': unique_communities, 'MPI_Score': 1})

In [ ]:
df3

   community  MPI_Score
0      Aarey          1
1   Pardeshi          1
2  RL Colony          1

In [ ]:
poverty_threshold = 0.3
for index, row in df3.iterrows():
    filtered_df = df2[df2['community'] == row['community']]
    deprived_df = filtered_df[filtered_df['MPI_Score'] > poverty_threshold]


    if filtered_df.shape[0] > 0 and deprived_df.shape[0]>0:
        A = deprived_df.shape[0] / filtered_df.shape[0]
        one = 0
        zero = 0

        indicator_names = ['drinkingWater', 'electricity', 'cookingFuel', 'sanitation', 'house', 'adharcard', 'education', 'disease']

        for indicator in indicator_names:

            value_counts = deprived_df[indicator].value_counts()
            one = one + (value_counts[1] if 1 in value_counts else 0)
            zero = zero + (value_counts[0] if 0 in value_counts else 0)

        H = one / (one + zero)
        print(A,H)
        Community_MPI = A*H
        df3.loc[index, 'MPI_Score'] = Community_MPI


#         H = "have some doubts" print(row['community'] , A)

1.0 0.625
0.5 0.5

In [ ]:
Community_MPI

0.25

In [ ]:
df3

   community  MPI_Score
0      Aarey      0.625
1   Pardeshi      0.250
2  RL Colony      1.000

In [ ]:
for index, row in df3.iterrows():
    community_id = row['community']
    current_date = datetime.now()
    mpi = row['MPI_Score']
    mpi_score_obj = {'date': current_date,'score': mpi}
    communities_collection.update_one(
        {'name': community_id},
        {'$push': {'MPIscore': mpi_score_obj}}
    )